APP_USER=
APP_USER_LOGIN_PASSWORD=
AllowedHosts=
ConnectionStrings__WebbanhangDB=
DB_NAME=
DB_PORT=
Encryption__Key=
ImageUpload__S3__AccessKey=
ImageUpload__S3__BucketName=
ImageUpload__S3__CloudFrontDomain=
ImageUpload__S3__Region=
ImageUpload__S3__SecretKey=
ImageUpload__StorageType=
Security__EncryptionIV=
Security__EncryptionKey=
Security__Jwt__Audience=
Security__Jwt__ExpirationMinutes=
Security__Jwt__Issuer=
Security__Jwt__SecretKey=
Security__PasswordSalt=
Serilog__MinimumLevel__Default=
Serilog__MinimumLevel__Override__Microsoft=
Serilog__MinimumLevel__Override__System=
Serilog__Using__0=
Serilog__Using__1=
Serilog__WriteTo__0__Name=
Serilog__WriteTo__1__Args__fileSizeLimitBytes=
Serilog__WriteTo__1__Args__path=
Serilog__WriteTo__1__Args__retainedFileCountLimit=
Serilog__WriteTo__1__Args__rollOnFileSizeLimit=
Serilog__WriteTo__1__Args__rollingInterval=
Serilog__WriteTo__1__Args__shared=
