APP_USER=
APP_USER_LOGIN_PASSWORD=
AllowedHosts=
ConnectionStrings__WebbanhangDB=
DB_NAME=
DB_PORT=
Email__AlertRecipients=
Email__AppPassword=
Email__DryRun=
Email__FromEmail=
Email__FromName=
Email__Password=
Email__PickupDirectory=
Email__SmtpHost=
Email__SmtpPort=
Email__Smtp__EnableSsl=
Email__Smtp__Host=
Email__Smtp__Password=
Email__Smtp__Port=
Email__Smtp__Username=
Email__UseAdvancedNotifications=
Email__UsePickupDirectory=
Email__Username=
FinancialReporting__CustomDays=
FinancialReporting__Enabled=
FinancialReporting__IntervalMinutes=
FinancialReporting__ReportType=
Logging__LogLevel__Dashboard.StockWorker=
Logging__LogLevel__Default=
Logging__LogLevel__Microsoft.Hosting.Lifetime=
Logging__LogLevel__Microsoft=
Logging__LogLevel__System=
StockWorker__CheckIntervalMinutes=
StockWorker__CriticalStockThreshold=
StockWorker__LowStockThreshold=
