APP_USER=
APP_USER_LOGIN_PASSWORD=
AllowedHosts=
ConnectionStrings__WebbanhangDB=
DB_NAME=
DB_PORT=
EmailSimple__AlertsFromAddress=
EmailSimple__AlertsToAddress=
EmailSimple__PickupDirectory=
EmailSimple__Smtp__EnableSsl=
EmailSimple__Smtp__Host=
EmailSimple__Smtp__Password=
EmailSimple__Smtp__Port=
EmailSimple__Smtp__Username=
EmailSimple__UsePickupDirectory=
Email__AlertRecipients=
Email__AppPassword=
Email__DryRun=
Email__FromEmail=
Email__FromName=
Email__SmtpHost=
Email__SmtpPort=
Email__UseAdvancedNotifications=
Email__Username=
Encryption__Key=
FinancialReporting__CustomDays=
FinancialReporting__Enabled=
FinancialReporting__IntervalMinutes=
FinancialReporting__ReportType=
Logging__LogLevel__Dashboard.StockWorker=
Logging__LogLevel__Default=
Logging__LogLevel__Microsoft.Hosting.Lifetime=
Logging__LogLevel__Microsoft=
Logging__LogLevel__System=
Security__EncryptionIV=
Security__EncryptionKey=
Security__Jwt__Audience=
Security__Jwt__ExpirationMinutes=
Security__Jwt__Issuer=
Security__Jwt__SecretKey=
Security__PasswordSalt=
Serilog__MinimumLevel__Default=
Serilog__MinimumLevel__Override__Microsoft=
Serilog__MinimumLevel__Override__System=
Serilog__WriteTo__1__Args__fileSizeLimitBytes=
Serilog__WriteTo__1__Args__path=
Serilog__WriteTo__1__Args__retainedFileCountLimit=
Serilog__WriteTo__1__Args__rollOnFileSizeLimit=
Serilog__WriteTo__1__Args__rollingInterval=
Serilog__WriteTo__1__Args__shared=
StockWorker__CheckIntervalMinutes=
StockWorker__CriticalStockThreshold=
StockWorker__LowStockThreshold=
