API_PREFIX=
APP_USER=
APP_USER_LOGIN_PASSWORD=
DB_NAME=
DB_PORT=
GOONG_API_KEY=
GOONG_ENDPOINT=
JAVA_OPTS=
JWT_EXPIRATION=
JWT_SECRET=
MOMO_ACCESS_KEY=
MOMO_ENDPOINT=
MOMO_IPN_URL=
MOMO_PARTNER_CODE=
MOMO_REDIRECT_URL=
MOMO_REQUEST_TYPE=
MOMO_SECRET_KEY=
OTP_ENDPOINT=
SERVER_ADDRESS=
SERVER_PORT=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_HIBERNATE_PROPERTIES_DIALECT=
SPRING_PROFILES_ACTIVE=
