<style>
  body {
    background: linear-gradient(#134b70, #508c9b);
  }
</style>
<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>NÔNG SẢN THỦY BÌNH!</h1>
    <p>
      Chúng tôi cung cấp các sản phẩm nông sản chất lượng cao, giá cả hợp lý!
    </p>
  </div>

  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm nông sản ở đây!"
    />
    <select
      class="form-control product-category"
      aria-label="Default select example"
    >
      <option selected disabled>Danh mục sản phẩm</option>
      <option value="1">Khoai lang</option>
      <option value="2">Xoài</option>
      <option value="3">Hành, tỏi</option>
    </select>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/10652320/pexels-photo-10652320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Khoai lang loại 1</h3>
        <p class="product-description">Ghi chú: Khoai lang to bự</p>
        <p class="product-price">Giá: <del>10.000</del> 5.000đ/kg</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/10652320/pexels-photo-10652320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Khoai lang loại 1</h3>
        <p class="product-description">Ghi chú: Khoai lang to bự</p>
        <p class="product-price">Giá: <del>10.000</del> 5.000đ/kg</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/10652320/pexels-photo-10652320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Khoai lang loại 1</h3>
        <p class="product-description">Ghi chú: Khoai lang to bự</p>
        <p class="product-price">Giá: <del>10.000</del> 5.000đ/kg</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/10652320/pexels-photo-10652320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Khoai lang loại 1</h3>
        <p class="product-description">Ghi chú: Khoai lang to bự</p>
        <p class="product-price">Giá: <del>10.000</del> 5.000đ/kg</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/10652320/pexels-photo-10652320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Khoai lang loại 1</h3>
        <p class="product-description">Ghi chú: Khoai lang to bự</p>
        <p class="product-price">Giá: <del>10.000</del> 5.000đ/kg</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/10652320/pexels-photo-10652320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Khoai lang loại 1</h3>
        <p class="product-description">Ghi chú: Khoai lang to bự</p>
        <p class="product-price">Giá: <del>10.000</del> 5.000đ/kg</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/10652320/pexels-photo-10652320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Khoai lang loại 1</h3>
        <p class="product-description">Ghi chú: Khoai lang to bự</p>
        <p class="product-price">Giá: <del>10.000</del> 5.000đ/kg</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
