body {
    background: linear-gradient(#134B70, #508C9B)
}

/* .container {
    
} */

.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    background-color: #201E43;
    margin-right: 10px;
    border-color: #EEEEEE;
    color: white;
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    color: #ffffffd5;
}

.product-item {
    background-color: #201E43;
    border: 1px solid #423e8d;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-category {
    width: 200px;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: white;
}

.product-description {
    color: rgba(255, 255, 255, 0.648);
}

.product-price {
    color: white;
}